<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100 p-6 font-[DynaPuff]">

  <h1 class="text-9xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#EE8D29] to-[#DF6342] tracking-widest drop-shadow-lg">
    404
  </h1>

  <div class="bg-white max-w-md text-center px-10 py-8 rounded-[35px] mt-8 shadow-xl border border-orange-100">
    <p class="text-3xl font-bold text-[#EE8D29]">Page Not Found</p>
    <p class="text-gray-600 mt-4 leading-7 text-lg">
      Looks like this page doesn't exist.<br />
      Try going back to explore more meals.
    </p>
  </div>

  <a 
    routerLink="/"
    class="cursor-pointer mt-10 bg-gradient-to-r from-emerald-500 to-emerald-600 text-white font-semibold px-10 py-3 rounded-full shadow-lg hover:scale-105 transition-all duration-300"
  >
    Back to Home
  </a>

</div>
